body {
  /* full page gradient */
  height: 100vh;
  background: rgb(238, 229, 174);
  background: radial-gradient(circle, rgba(238, 229, 174, 1) 0%, rgba(233, 148, 162, 1) 100%);
  color: #ffffff;
  line-height: 1.25
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #3e78ed;
  border-radius: 50%;
  display: inline-block;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
}

h2 {
  font-size: 10vmin
}

.button {
  font-size: 40px;
  color: rgba(15, 152, 112, 0.7);
  cursor: pointer;
  margin: 0 20px;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Needs two values */
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 650px) {
  .button {
    font-size: 30px;
  }
}