body {
  /* full page gradient */
  height: 100vh;
  background: rgb(238, 229, 174);
  background: radial-gradient(circle, rgba(238, 229, 174, 1) 0%, rgba(233, 148, 162, 1) 100%);
}

section {
  position: absolute;
  top: 50%;
  bottom: 50%;
  /* Needs two values */
  transform: translate(-50%, -50%);
}

footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50% -50%);
}